
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');


.flex-row{
    align-items: flex-end;
    display: flex;
    height: 40px;
    margin-left: 9px;
    margin-top: 25px;
    min-width: 1325px;

    .jobberg {
        color: var(--mirage);
        font-family: var(--font-family-arvo);
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0;
        min-height: 25px;
        text-align: center;
        margin-left: 80px;
        padding-left: 80px;
      }
      
      .become-a-candidate {

        letter-spacing: 0;
        margin-left: 40px;
        min-height: 34px;

        text-align: center;
        font-family: 'Arimo';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 34px;
        text-align: center;

        color: #1E2126;
      }
      
      .join {
        letter-spacing: 0;
        margin-left: 639px;
        min-height: 34px;
      
        text-align: center;
        font-family: 'Arimo';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 34px;
        text-align: center;

        color: #1E2126;
      }
      
      .sign-in {
        letter-spacing: 0;
        margin-left: 48px;
        min-height: 34px;
        min-width: 97px;
        text-align: center;
        font-family: 'Arimo';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 34px;
        text-align: center;

        color: #1E2126;
      }

       
  }



  


  .recruiter_nav{
    color:#1E2126;
}