<app-navbar></app-navbar>
<div class="container-fluid pb-5">
    
  <div class="mt-5 mb-3">
      <div class="card m-auto mt-5 d-flex align-content-center border-top-0" style="width: 18rem; height: auto; border-radius: 4%">
          <div class="card-body mt-2">
            <form [formGroup]="forgotForm" (ngSubmit)="resetPassword()">
            <h5 class="details fw-normal text-center">Forgot Password</h5>
            <p class="username text-center mt-4 fw-light">You can reset your password here:</p>
            <input formControlName="email"  type="email" placeholder="email address" class=" email text-center align-content-center mt-2 border-0 fw-lighter fs-6">
            <div class="underline border-bottom mt-2">
              
            </div>
            
            <p class="text-center pt-1" style="font-size: 12px; color: #7E91BC;">Enter your email address</p>
  
            <div class="button col-sm-12">
              <button class=" my-2 d-flex justify-content-center" type="submit" class="btn btn-dark" style="margin-left: 24%; margin-top: 19%; border-radius: 28px; width: 129px; " (click)="resetPassword()">Reset</button>
            </div>
            <p class="card-text"></p>
          </form>
          </div>
        </div>
      </div>
  
  </div>