.email {
    margin-left: 40px;
}

.welcome {
    font-family: Arimo;
}

.details {
    font-family: 'Arvo', serif;
}

.span {
    font-weight: 220 bold;
    font-family: Arimo;
    
}

// .welcome {
//     font-weight: 100;
// }



.intro {
    font-family: Arvo;
}

.underline {
    border: 1px solid black;
    // width: 232.08px;
}

.card {
    box-shadow: 0px 2px 2px 2px rgb(0 0 0 / 0.2);
    
    
}